@import "tailwindcss";


.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.173), rgba(0, 0, 0, 0.173)), url(../assets/dha-raya.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.active{
    border: 1px solid #274abb;
    border-radius: 3px;
    color: #274abb;
}

@media (max-width: 1024px) {
    .active{
        border: none;
        color: white;
    }
}
.active:hover{
    background: white;
    border: 1px solid #274abb;
}

/* Add to your global CSS */
.slider-thumb::-webkit-slider-thumb {
  @apply appearance-none h-5 w-5 rounded-full bg-blue-600 cursor-pointer border-2 border-white shadow-md;
}

.slider-thumb::-moz-range-thumb {
  @apply appearance-none h-5 w-5 rounded-full bg-blue-600 cursor-pointer border-2 border-white shadow-md border-none;
}

@keyframes fade-in-down{0%{opacity:0;transform:translateY(-10px)}100%{opacity:1;transform:translateY(0)}}
.animate-fade-in-down{animation:fade-in-down .3s ease-out forwards}